:javascript
	yepnope([{
		load: 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js',
	  complete: function() {
	    if (!window.jQuery) {
	      yepnope('#{url('/js/libs/jquery.min.js')}');
	    }
		}
	},{
			test: Modernizr.audio,
			yep: '#{url('/js/libs/audio-player.js')}',
			complete: function() {
				if (window.AudioPlayer) {
					AudioPlayer.setup('#{url('/js/libs/player.swf')}', { width: 527 });
					$('.flash_audioplayer').each(function() {
						AudioPlayer.embed($(this).attr('id'), { soundFile: $(this).data('soundFile') });
					});
				} else {
					$('.flash_audioplayer').remove();
				}
			}
	}]);

:javascript
	var _gaq = [['_setAccount', '#{settings.google_account_id}'], ['_trackPageview']];
	(function(d, t) {
		var g = d.createElement(t),
		s = d.getElementsByTagName(t)[0];
		g.async = true;
		g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g, s);
	})(document, 'script');