%head
	%meta{ :charset => 'utf-8' }/
	
	%meta{ :content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
	
	%title= @title || settings.site['title']
	%meta{ :content => 'A simple front-end for Podcast Producer', :name => 'description' }/
	%meta{ :content => 'Jamie Hodge', :name => 'author' }/
	
	%meta{ :content => 'width=device-width, initial-scale=1.0', :name => 'viewport' }/
	
	%link{ :href => url('/css/desktop/style.css?v=1'), :media => 'all', :rel => 'stylesheet' }/
	
	%script{ :src => url('/js/libs/modernizr.min.js') }