:javascript
	yepnope([{
		load: 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js',
	  complete: function() {
	    if (!window.jQuery) {
	      yepnope('/js/libs/jquery.min.js');
	    }
		}
	},{
		load: ['/js/libs/jquery.cookie.js', '/js/libs/jquery.collapse.js'],
		complete: function() {
			$('details').collapse({ 
				head: 'summary', 
				group: 'section, ul',
				show: function() { this.animate({opacity: 'toggle', height: 'toggle'}, 200); },
				hide : function() { this.animate({opacity: 'toggle', height: 'toggle'}, 200); },
				cookieName: $(location).attr('pathname')
			});
		}
	},{
		load: '/js/libs/jquery.lazyload.min.js',
		complete: function() {
			$('img').lazyload({
				effect : "fadeIn",
				placeholder: "/img/grey.gif"
			});
			localStorage.setItem('base_url', '#{base_url}')
			}
	},{
		load: ['/js/libs/jquery.formalize.min.js','/js/script.js?v=1']
	},{
			test: !Modernizr.audio,
			nope: '/js/libs/audio-player.js',
			complete: function() {
				if (window.AudioPlayer) {
					AudioPlayer.setup('/js/libs/player.swf', { width: 527 });
					$('.flash_audioplayer').each(function() {
						AudioPlayer.embed($(this).attr('id'), { soundFile: $(this).data('soundFile') });
					});
				} else {
					$('.flash_audioplayer').remove();
				}
			}
	}]);

/[if lt IE 7 ]
	%script{ :src => '/js/libs/dd_belatedpng.js' }
	:javascript
		//DD_belatedPNG.fix('img, .png_bg');
		
%script{ :src => 'http://platform.twitter.com/widgets.js' }

:javascript
	var _gaq = [['_setAccount', '#{settings.google_account_id}'], ['_trackPageview']];
	(function(d, t) {
		var g = d.createElement(t),
		s = d.getElementsByTagName(t)[0];
		g.async = true;
		g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g, s);
	})(document, 'script');