%form{ :action => url("/feeds/#{feed.uuid}/episodes/#{episode.uuid}/comments"), :method => 'post' }
	%p
		%input{ :type => 'text', :name => 'comment[author]', :required => true, :placeholder => 'Author' }
	%p
		%input{ :type => 'email', :name => 'comment[email]', :required => true, :placeholder => 'Email' }
	%p
		%textarea{ :name => 'comment[content]', :required => true, :placeholder => 'Comment' }
	%p
		%input{ :type => 'submit', :value => 'Submit' }