- if episode.audio_links
	%audio{ :controls => true, :preload => 'auto' }
		- episode.audio_links.each do |link|
			%source{ :src => link['href'], :type => "#{link['type']}" }/
		-# flash fallback
		%div{ :id => "flash_audio_#{episode.uuid}" }
		:javascript
			AudioPlayer.embed("flash_audio_#{episode.uuid}", { soundFile: "#{episode.audio_links.find { |l| l['type'] == 'audio/mpeg' }['href']}" });