%section.entry-comments
	- entry.comments.each do |comment|
		%article
			%header
				%h1= comment.author
				%time.published{ pubdate: true, datetime: comment.created_at }= comment.created_at.strftime('%A, %b %d')
			%p= comment.content
	%form{ action: '/comments', method: 'post' }
		%input{ type: 'hidden', name: 'entry_id', value: entry.id }
		%ul
			%li
				%label{ for: 'author' } Author
				%input{ type: 'text', name: 'author', placeholder: 'Author', required: true }
			%li
				%label{ for: 'content' } Content
				%textarea{ name: 'content', name: 'content', placeholder: 'Comment', required: true }
			%li
				%input{ type: 'submit', value: 'Comment' }