%article.hentry{ id: entry.id, class: entry.episode? ? 'episode' : nil }
	%div
		%header
			%h1.entry-title 
				%a{ href: entry.path }= entry.title
			%p.entry-metadata
				Published
				%time.published{ pubdate: true, datetime: entry.published }= entry.published.strftime('%A, %b %d')
				Updated
				%time.updated{ datetime: entry.updated }= entry.updated.strftime('%A, %b %d')
		.entry-content
		.entry-summary= entry.summary
		%footer
			- if entry.subscribable?
				%a{ href: entry.link('alternate')['href'].gsub(/http/, 'itpc') } Subscribe in iTunes