%article.entry{ :id => entry.uuid }
	%header
		%hgroup
			%a{ :href => "/feeds/#{entry.uuid}" }
				%h2= entry.title
			%p
				%small
					%time{ :time => entry.updated.strftime('%y-%m-%d'), :pubdate => true }= entry.updated.strftime('%A, %b %d %Y')
		%aside		
			%p
				%img{ :src => entry.related_link['href'], :height => 125 }
	%p= entry.summary