%article.entry{ :id => entry.uuid }
	%header
		%hgroup
			%a{ :href => url("/feed/#{entry.uuid}") }
				%h2= entry.title
			%p
				%small
					%time{ :time => entry.updated.strftime('%y-%m-%d'), :pubdate => true }= entry.updated.strftime('%A, %b %d %Y')
		%figure		
			%p
				%img{ :src => entry.related_link['href'], :width => '100%' }
	%p= entry.summary