@charset "utf-8"
@import defaults

+font-face('BebasNeueRegular', font-files('BebasNeue-webfont.eot?', eot, 'BebasNeue-webfont.woff', woff, 'BebasNeue-webfont.ttf', truetype, 'BebasNeue-webfont.svg#webfontfvFLBU0N', svg))
+font-face('Underwood Champion', font-files('underwood_champion-webfont.eot?', eot, 'underwood_champion-webfont.woff', woff, 'underwood_champion-webfont.ttf', truetype, 'underwood_champion-webfont.svg#webfontf3v23jNG', svg))

*
	// background-color: rgba(0,0,0,.125)

h1, h2, h3, h4, h5, h6
	font-family: BebasNeueRegular
	
body
	+susy
	// background: #eee
	+rgba-background-inline(rgba(238, 238, 238, 1))
	
	#page
		+container
		#slideshow
			+full
			height: $base-rhythm-unit * 4
			color: #777
			font-family: 'Underwood Champion'
			blockquote
				+pad(2,2)
		> header
			+columns(6)
			+alpha
			+pad(1,5)
			+leader
			a
				+unstyled-link
				h1
					+adjust-font-size-to(96px)
					+trailer(.5,96px)
					font-family: BebasNeueRegular
					+replace-text(image-url('larm_radio.png', true), 0, 0)
					+opacity(.7)
			h2
				display: none
		> aside
			+alpha
			+columns(3)
			+leader(1)
			// +rotate(15deg)
			h2
				// +trailing-border(1px, 0)
				+trailer(.5)
			nav
				ul
					+no-bullets
					li
						+trailer(1)
		> nav
			+alpha
			+columns(3)
			// +rotate(-5deg)
			+leader
			h2
				// +trailing-border(1px, 0)	
				+trailer(.5)
			ul
				+no-bullets
				li
					+trailer
			+trailer
		> a
			+alpha
			+columns(3)
			+opacity(.7)
		#content
			+columns(9)
			+omega
			a
				+link-colors(darken(rgba(91, 53, 36, 1), 10%))
				// +link-colors(rgba(56, 24, 24, 1))
				// +link-colors(rgba(137, 53, 0, 1))
			#main
				+columns(6,9)
				> article
					// +box-shadow(rgba(0, 0, 50, .2))
					+box-shadow(rgba(151, 169, 198, .2))
					+border-top-radius($base-rhythm-unit * .5)
				article
					+full(9)
					+rhythm-borders(1px, 1, $base_font_size, 'none')
					// background-color: rgba(255, 250, 200, .5)
					+rgba-background-inline(rgba(255, 255, 255, .8))
					// background-color: rgba(255, 255, 255, .8)
					// +linear-gradient(color-stops(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), left, image-url('/images/noise.png'))
					> header
						+full(9)
						h1
							+trailer(0)
						figure
							+columns(3,9)
							+opacity(.8)
							overflow: hidden
							img
								+box-shadow(rgba(151, 169, 198, .8))
						time
							@extend small
						+trailer
					> nav
						+full(9)
						ul
							+inline-block-list
							+trailer(1, 14px)
							+adjust-font-size-to(14px)
							li:after
								// content: '\00a0'
								// content: '|'
						+trailer
					figure
						+full(9)
						overflow: hidden
						audio,
						video
							+columns(9,9)
							+trailer
						figcaption
							+columns(2,9)
							+suffix(7,9)
							@extend small
						+trailer
					summary
						+full(9)
						+trailer
					footer
						+full(9)
						address
							@extend small
						nav 
							+full(9)
							@extend small
							ul
								+horizontal-list
							+trailer
						.social
							+full(9)
							+trailer
						.comments
							& summary
								@extend small
							ul
								+leader
								margin-left: 0
								li
									+no-bullets
					+trailer
		> footer
			+full
			// background: rgba(255, 255, 255, 1)
			address
				@extend small
			
a
	+hover-link

.playAll
	font-family: 'BebasNeueRegular'
	+adjust-font-size-to(24px)
	+trailer(1, 24px)
	+border-radius($base-rhythm-unit * .125)
	+linear-gradient(color-stops(rgba(255, 255, 255, .9), darken(rgba(255, 255, 255, .9), 3%)), left)
	color: #777
	border: 1px solid
	border-color: #ccc
	width: 100%

.js #slideshow a
	display: none