@charset "utf-8"
@import defaults

// +font-face('BebasNeue', '/fonts/BebasNeue.otf')
@font-face
	font-family: 'BebasNeueRegular'
	src: url('/fonts/BebasNeue-webfont.eot?') format('eot'), url('/fonts/BebasNeue-webfont.woff') format('woff'), url('/fonts/BebasNeue-webfont.ttf') format('truetype'), url('/fonts/BebasNeue-webfont.svg#webfontfvFLBU0N') format('svg')
	font-weight: normal
	font-style: normal
*
	// background-color: rgba(0,0,0,.125)

h1, h2, h3, h4, h5, h6
	font-family: 'BebasNeueRegular'
	
body
	+susy
	background: #eee
	
	#page
		+container
		#slideshow
			+full
			height: $base-rhythm-unit * 3
			color: #777
			blockquote
				+pad(2,2)
		> header
			+columns(6)
			+alpha
			+pad(1,5)
			+leader
			a
				+unstyled-link
				h1
					+adjust-font-size-to(96px)
					+trailer(.5,96px)
					font-family: BebasNeue
					+replace-text('/images/larm_radio.png', 0, 0)
					opacity: .70
			h2
				display: none
		> aside
			+alpha
			+columns(3)
			+leader(1)
			// +rotate(15deg)
			h2
				// +trailing-border(1px, 0)
				+trailer(.5)
			nav
				ul
					+no-bullets
					li
						+trailer(1)
		> nav
			+alpha
			+columns(3)
			// +rotate(-5deg)
			+leader
			h2
				// +trailing-border(1px, 0)	
				+trailer(.5)
			ul
				+no-bullets
				li
					+trailer
			+trailer
		> a
			+alpha
			+columns(3)
			opacity: .7
		#content
			+columns(9)
			+omega
			a
				+link-colors(darken(rgba(91, 53, 36, 1), 10%))
				// +link-colors(rgba(56, 24, 24, 1))
				// +link-colors(rgba(137, 53, 0, 1))
			#main
				+columns(6,9)
				> article
					+box-shadow(rgba(0, 0, 50, .2))
				article
					+full(9)
					+rhythm-borders(1px, 1, $base_font_size, 'none')
					// background-color: rgba(255, 250, 200, .5)
					background-color: rgba(255, 255, 255, .8)
					// +linear-gradient(color-stops(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), left, image-url('/images/noise.png'))
					> header
						+full(9)
						h1
							+trailer(0)
						figure
							+columns(3,9)
							+opacity(.8)
						time
							@extend small
						+trailer
					> nav
						+full(9)
						ul
							+inline-block-list
							+trailer(1, 14px)
							+adjust-font-size-to(14px)
							li:after
								// content: '\00a0'
								content: '|'
						+trailer
					figure
						+full(9)
						audio,
						video
							+columns(9,9)
							+trailer
						figcaption
							+columns(2,9)
							+suffix(7,9)
							@extend small
						+trailer
					summary
						+full(9)
						+trailer
					footer
						+full(9)
						address
							@extend small
						nav 
							+full(9)
							@extend small
							ul
								+horizontal-list
							+trailer
						.social
							+full(9)
							+trailer
						.comments
							& summary
								@extend small
							ul
								+leader
								margin-left: 0
								li
									+no-bullets
					+trailer
		> footer
			+full
			// background: rgba(255, 255, 255, 1)
			address
				@extend small
			
a
	+hover-link

.playAll
	font-family: BebasNeue
	+adjust-font-size-to(24px)
	+trailer(1, 24px)
	+border-radius($base-rhythm-unit * .125)
	+linear-gradient(color-stops(rgba(255, 255, 255, .9), darken(rgba(255, 255, 255, .9), 3%)), left)
	color: #777
	border-color: #fff
	width: 100%

.js #slideshow blockquote
	display: none