%article#feed
	%header
		%hgroup
			%h1= catalog.title
			%h2= catalog.subtitle
			%p
				%small
					Published
					%time{ :time => catalog.updated.strftime('%y-%m-%d'), :pubdate => true }= catalog.updated.strftime('%A, %b %d %Y')
		%aside		
			%img{ :src => catalog.logo }
	- catalog.entries.each do |feed|
		= haml :'entries/show', :locals => { :entry => feed }